/stop_theorem.aux
/stop_theorem.bbl
/stop_theorem.blg
/stop_theorem.log
/stop_theorem.out
/stop_theorem.pre
/stop_theorem.sage
/stop_theorem.synctex.gz
/stop_theorem.tex.bak
/stop_theorem_main.aux
/stop_theorem_main.idx
/stop_theorem_main.log
/stop_theorem_main.out
/stop_theorem_main.pyg
/stop_theorem_main.synctex.gz
/stop_theorem_main.tex~
/stop_theorem_main.bbl
/stop_theorem_main.blg
/stop_theorem_main.ilg
/stop_theorem_main.ind
