
binst_2014/zachet_14/zach_14.aux

binst_2014/zachet_14/zach_14.blg

binst_2014/zachet_14/zach_14.log

binst_2014/zachet_14/zach_14.out

binst_2014/zachet_14/zach_14.synctex.gz

*.aux

2013_2014/sc_rrretake.log

2013_2014/sc_rrretake.synctex.gz

binst_2014/binst14.xls

2014_icef/practice.log

2014_icef/practice.synctex.gz


matek2_collect/materials_for/*.*

2014_icef/ht_2014/ht_2014.log

2014_icef/ht_2014/ht_2014.out

2014_icef/ht_2014/ht_2014.synctex.gz

2014_icef/sc_icef_ex14/sc_icef_ex14.log

2014_icef/sc_icef_ex14/sc_icef_ex14.synctex.gz

2014_icef/practice/practice.log

2014_icef/practice/practice.synctex.gz

binst_2015/zachet_15.log

binst_2015/zachet_15.synctex.gz

matek2_collect/retake_gas.log

matek2_collect/retake_gas.synctex.gz

2015_rang/dz_ranh/sc_dz_ranh.synctex.gz

2015_rang/dz_ranh/sc_dz_ranh.log
