
binst_2014/zachet_14/zach_14.aux

binst_2014/zachet_14/zach_14.blg

binst_2014/zachet_14/zach_14.log

binst_2014/zachet_14/zach_14.out

binst_2014/zachet_14/zach_14.synctex.gz

*.aux

2013_2014/sc_rrretake.log

2013_2014/sc_rrretake.synctex.gz

binst_2014/binst14.xls

2014_icef/practice.log

2014_icef/practice.synctex.gz


matek2_collect/materials_for/*.*

2014_icef/ht_2014/ht_2014.log

2014_icef/ht_2014/ht_2014.out

2014_icef/ht_2014/ht_2014.synctex.gz

2014_icef/sc_icef_ex14/sc_icef_ex14.log

2014_icef/sc_icef_ex14/sc_icef_ex14.synctex.gz

2014_icef/practice/practice.log

2014_icef/practice/practice.synctex.gz

binst_2015/zachet_15.log

binst_2015/zachet_15.synctex.gz

matek2_collect/retake_gas.log

matek2_collect/retake_gas.synctex.gz

2015_rang/dz_ranh/sc_dz_ranh.synctex.gz

2015_rang/dz_ranh/sc_dz_ranh.log

sc_book/sc_book.bbl

sc_book/sc_book.tex

sc_book/sols_chap_01.tex

sc_book/sols_chap_02.tex

sc_book/sols_chap_03.tex

sc_book/sols_chap_04.tex

sc_book/sols_chap_05.tex

sc_book/sols_chap_06.tex

sc_book/sols_chap_07.tex

sc_book/figure/

sc_book/sols_chap_08.tex

sc_book/sols_chap_09.tex

sc_book/sols_chap_10.tex

sc_book/sols_chap_11.tex

sc_book/sols_chap_115.tex

sc_book/sols_chap_12.tex

sc_book/sols_chap_13.tex

sc_book/sols_chap_14.tex

sc_book/sols_chap_15.tex

sc_book/sols_chap_16.tex

sc_book/sols_chap_17.tex

sc_book/sols_chap_18.tex

sc_book/sols_chap_20.tex

sc_pset/sc_problems_main.run.xml

sc_pset/all_solutions.tex

binst_2016/zach_16.fdb_latexmk

binst_2016/zach_16.fls

binst_2016/zach_16.log

binst_2016/zach_16.out

binst_2016/zach_16.synctex.gz
