*.xdv
*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.blg
*-cache.yaml

binst_2014/binst14.xls

matek2_collect/materials_for/*.*

sc_pset/sc_problems_main.run.xml

sc_pset/all_solutions.tex

binst_2015/binst_2015.xls

ranepa_st/2016/lecture_notes_book/_book
ranepa_st/2016/lecture_notes_book/.Rproj.user
ranepa_st/2016/lecture_notes_book/tikz_metrics
ranepa_st/2016/lecture_notes_book/_bookdown_files
ranepa_st/2016/lecture_notes_book/lecture_notes_sc.html
ranepa_st/2016/lecture_notes_book/lecture_notes_sc.Rmd
ranepa_st/2016/lecture_notes_book/lecture_notes_sc.knit.md
ranepa_st/2016/lecture_notes_book/lecture_notes_sc-tikzDictionary

binst_syllabus/binst_stochastic_syllabus.tex
