/*.hgignore
/sc_pr_all.log
/sc_pr_all.tex.bak
/sc_problems_main.aux
/sc_problems_main.bbl
/sc_problems_main.blg
/sc_problems_main.idx
/sc_problems_main.ilg
/sc_problems_main.ind
/sc_problems_main.log
/sc_problems_main.out
/sc_problems_main.pre
/sc_problems_main.pyg
/sc_problems_main.sage
/sc_problems_main.synctex.gz
/sc_problems_main.tcp
/sc_problems_main.tex.bak
/sc_problems_main.tex~
/sc_problems_main.tps
/*.toc
