/*.hgignore
/sc_skelet_utf8.tps
/*.toc
/sc_body.log
/sc_body.tex.bak
/sc_dynopt.tex.bak
/sc_skelet_utf8.asy
/sc_skelet_utf8.aux
/sc_skelet_utf8.bbl
/sc_skelet_utf8.blg
/sc_skelet_utf8.idx
/sc_skelet_utf8.ilg
/sc_skelet_utf8.ind
/sc_skelet_utf8.log
/sc_skelet_utf8.out
/sc_skelet_utf8.pre
/sc_skelet_utf8.pyg
/sc_skelet_utf8.sage
/sc_skelet_utf8.synctex.gz
/sc_skelet_utf8.tcp
/sc_skelet_utf8.tex.bak
/*.bcf
/*.run.xml
